:root {
  --gunmetal-color: #283d3b;
  --skobeloff-color: #197278;
  --champagne-pink-color: #edddd4;
  --madder-lake-color: #c44536;
  --liver-color: #772e25;
}

.blog-content {
  letter-spacing: .6px;
}

.blog-content blockquote {
    border-color: var(--madder-lake-color);
}
